<html>
<head>
 </head>
<body>

<div>
  <h2>STEI Week Report</h2>
  <p>Hello,</p>
<p>(User Name) has complited week1 assignment</p>
<p>Assigment Details:</p>
<br />
<h4>Safety at Johnson Controls:</h4>  

  <table style="border: 1px solid #ddd; text-align: left; border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
	    <th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Sr.No</th>
        <th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Assignment</th>
        <th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Estimation Time</th>
        <th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Actual Time</th>
		<th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Completion Tracking</th>
		<th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Date</th>
		<th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: 1px solid #ddd; text-align: left; padding: 15px;">1</td>
		<td style="border: 1px solid #ddd; text-align: left; padding: 15px;">Fisrt Assignemnt</td>
        <td style="border: 1px solid #ddd; text-align: left; padding: 15px;">2.5</td>
		<td style="border: 1px solid #ddd; text-align: left; padding: 15px;">3</td>
		<td style="border: 1px solid #ddd; text-align: left; padding: 15px;">Manager</td>
		<th style="border: 1px solid #ddd; text-align: left; padding: 15px;">18-12-2017</th>
		<th style="border: 1px solid #ddd; text-align: left; padding: 15px;">Comment Here</th>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
