<div class="main_wrapper">
	<div class="jci_logo"><img src="images/jci_logo.png" alt="Johnson Controls" title="" /></div>
	<div class="main_heading main_Title">
		<h1>Systems Technician (ST) and Electrical Installer (EI) Employee Planner</h1>
	</div>
	<div class="status_content">
		
		<div class="current_Userstatus_outer">
			<div class="current_Userstatus_heading">
				<h4>Welcome to the Johnson Controls System Technician and Electrical Installer Onboarding program.</h4><br /><br />
				<h5>This is a 4 week program which will teach you about the company, your role and related technical trainings.</h5><br /><h5> The tasks are divided into modules and assignments. You will be able to view and track your progress on completion of these tasks on a daily and weekly basis.</h5>
			</div>
			<div class="current_Userstatus_content">
				<div class="table-responsive">
					<br /><br />
				<div class="text-center">
					<a href="#/status" class="btn_blue">CONTINUE</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal For Comments -->
	